.DS_Store

# Don't version the C source
Redland-source/downloads
Redland-source/build-*
Redland-source/product-*
Redland-source/Universal*

# Don't version the documentation
Docs

# Xcode user data
!*.xcodeproj/project.pbxproj
xcuserdata

